.pagination {
  display: flex;
  justify-content: space-between;
  padding: 0 35%;
}
.liTag {
  list-style-type: none;
  color: blue;
  cursor: pointer;
}
.active a {
  padding: 0 5px;
  color: rgb(5, 0, 0) !important;
  border: 1px solid blue;
}
